@using Microsoft.AspNetCore.Http

@{
    ViewBag.Title = "Importation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 col-md-12 content-item" style="text-align:left" data-aos="fade-up" data-aos-delay="10">
    <div class="info d-flex justify-content-center wi" style="padding:15px;border-radius:20px">
        <div class="section-title  col-lg-10 flxs">
            <h2>Importation des enseignants</h2>
            @using (Html.BeginForm("ImportEnseignantAsyn", "Admins", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" required />
                        <label class="custom-file-label" for="inputGroupFile03"><i class="far fa-file-excel"></i> Choisir un fichier excel</label>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Importer les enseignants" style="border-radius:15px;font-family:'Arial Rounded MT'"  />

                <br />
                <br />
                if (Context.Session.GetString("succes").Equals("enseignant"))
                {
                    <p style="color:green"><i class="fas fa-check-circle"></i> La liste des enseignants a été importée avec succés.</p>
                    Context.Session.SetString("succes", "null");
                }
            }
        </div>
    </div>
</div>
<br />
<div class="col-lg-12 col-md-12 content-item" style="text-align:left" data-aos="fade-up" data-aos-delay="15">
    <div class="info d-flex justify-content-center wi" style="padding:15px;border-radius:20px">
        <div class="section-title  col-lg-10 flxs">
            <h2>Importation des etudiants</h2>
            @using (Html.BeginForm("ImportEtudiantAsyn", "Admins", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon03" required />
                        <label class="custom-file-label" for="inputGroupFile04"><i class="far fa-file-excel"></i> Choisir un fichier excel</label>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Importer les étudiants" style="border-radius:15px;font-family:'Arial Rounded MT'"/>

                <br />
                <br />
                if (Context.Session.GetString("succes").Equals("etudiant"))
                {
                    <p style="color:green"><i class="fas fa-check-circle"></i> La liste des étudiants a été importée avec succés</p>
                    Context.Session.SetString("succes", "null");
                }
            }

            </div>
        </div>
    </div>



            
            <script>
                $("input[type=file]").change(function () {
                    var fieldVal = $(this).val();

                    // Change the node's value by removing the fake path (Chrome)
                    fieldVal = fieldVal.replace("C:\\fakepath\\", "");

                    if (fieldVal != undefined || fieldVal != "") {
                        $(this).next(".custom-file-label").attr('data-content', fieldVal);
                        $(this).next(".custom-file-label").text(fieldVal);
                    }
                });
            </script>
