
@{
    ViewData["Title"] = "Creer_Groupe";
    Layout = "~/Views/Shared/_MonLayout.cshtml";
}


@model Projet2_Archivage.Models.Groupe
<h2>Gestion_Des_Groupes</h2>
<div style="height:800px;width:800px;border-color:black">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" asp-action="Espace_Etudiant" method="get">Espace Etudiant</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="Creer_Groupe" method="get">Groupe Gestion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="Information_De_stage ">information de stage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="Deconnexion">Deconnexion</a>
        </li>
    </ul>
    <div class="container border mb-2 p-3 border">


        <div class="alert alert-primary" role="alert">
            @ViewBag.alert
        </div>
        <br />@ViewBag.kh
        <form asp-action="Creer_Groupe" method="post">

            <!--  <div class="form-group">
                        <label value="username" class="control-label">prenom</label>
                        <input asp-for="Model.Societe.nom" class="form-control" />
                        <span asp-validation-for="Societe.nom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label value="username" class="control-label">nom</label>
                        <input asp-for="Model.Societe.tel" class="form-control" />
                        <span asp-validation-for="Societe.tel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label value="username" class="control-label">email</label>
                        <input asp-for="Model." class="form-control" />
                        <span asp-validation-for="." class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label value="password" class="control-label">password</label>

                        <input type="password" name="password" class="form-control" />
                        <input type="submit" value="check" />
                    </div>
        -->
            <input type="submit" class="btn btn-secondary btn-lg btn-block" value="@ViewBag.Gestion" />
        </form>
    </div>
</div>