
@{
    ViewData["Title"] = "Creer_Groupe";
    Layout = "~/Views/Shared/_EtudiantLayout.cshtml";
}

<meta charset="iso-8859-1">

@model Projet2_Archivage.Models.Groupe
<h2> @ViewBag.l</h2>
<div style="width:800px;border-color:black; margin-top:80px">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="btn btn-primary" asp-action="connexion" method="post" style="border-radius:20px; width:180px; margin-right:15px">Espace etudiant</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-primary" asp-action="Creer_Groupe" style="border-radius:20px; width:180px; margin-right:15px">Gestion du groupe</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary " asp-action="Information_De_stage" style="border-radius:20px; width:210px; margin-right:20px">Information du stage</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-action="Deconnexion" style="border-radius:20px; width:180px">Deconnexion</a>
        </li>
    </ul>
    <br />

    <div class="container">

        <p class="alert alert-light alert-dismissible fade show" style="border-radius:20px; font-style:italic; font-weight:bold">
            Vous trouverez ci-dessous la liste de tous les etudiants de votre niveau avec la possibilite de creer un groupe en cochant les
            membres de votre groupe.
        </p>

        <div class="alert alert-primary" role="alert">
            @ViewBag.alert
        </div>
        <br />@ViewBag.kh
        <form asp-action="Creer_Groupe" method="post">

            <!--  <div class="form-group">
                            <label value="username" class="control-label">prenom</label>
                            <input asp-for="Model.Societe.nom" class="form-control" />
                            <span asp-validation-for="Societe.nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label value="username" class="control-label">nom</label>
                            <input asp-for="Model.Societe.tel" class="form-control" />
                            <span asp-validation-for="Societe.tel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label value="username" class="control-label">email</label>
                            <input asp-for="Model." class="form-control" />
                            <span asp-validation-for="." class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label value="password" class="control-label">password</label>

                            <input type="password" name="password" class="form-control" />
                            <input type="submit" value="check" />
                        </div>
            -->
            <input type="submit" class="btn btn-outline-warning btn-lg btn-block" value="@ViewBag.Gestion" style="border-radius:20px" />
        </form>
    </div>
</div>
