
@{
    ViewData["Title"] = "erreur_stage";
    Layout = "~/Views/Shared/_EtudiantLayout2.cshtml";
}


<div style="height:800px;width:800px;border-color:black">
    <ul class="nav nav-pills">

        <li class="nav-item">
            <a class="btn btn-primary" asp-action="connexion" method="post" style="border-radius:20px; width:180px; margin-right:15px">Espace Etudiant</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-primary" asp-action="Creer_Groupe" style="border-radius:20px; width:180px; margin-right:15px">Gestion du groupe</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-action="Information_De_stage" style="border-radius:20px; width:210px; margin-right:20px">Information du stage</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-action="Deconnexion" style="border-radius:20px; width:180px">Deconnexion</a>
        </li>
    </ul><br />

   

        <div class="container border mb-2 p-3 border" style="width:900px">
           
                <div class="info d-flex justify-content wi" style="border-radius:20px ;height:300px;width:900px">
       
                            <div class="alert alert-info" role="alert" style="height:18%;margin:auto">
                                @ViewBag.soc
                            </div>
                </div>
           
        </div>
    
</div>
