
@{
    ViewData["Title"] = "Rapport_final";
    Layout = "~/Views/Shared/_EtudiantLayout2.cshtml";
}

<link href="~/css/Style2.css" rel="stylesheet" />
<br />
<div style="width:800px;border-color:black">

    <ul class="nav nav-pills">

        <li class="nav-item">
            <a class="btn btn-primary" asp-action="connexion" method="post" style="border-radius:20px; width:180px; margin-right:15px">Espace Etudiant</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-primary" asp-action="Creer_Groupe" style="border-radius:20px; width:180px; margin-right:15px">Gestion du groupe</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-action="Information_De_stage" style="border-radius:20px; width:210px; margin-right:20px">Information du stage</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-action="Deconnexion" style="border-radius:20px; width:180px">Deconnexion</a>
        </li>
    </ul><br />
    <div class="alert alert-danger" role="alert">
        @ViewBag.alert
    </div>
</div>


<div class="container" style="width:900px">
    <div class="content-item" style="text-align:left" data-aos="fade-up" data-aos-delay="100">
        <div class="info d-flex justify-content wi" style="border-radius:20px ;height:400px;width:900px">
            <div class="float-right" style="border-color:black;height:400px;width:400px;">
                <div style="border:dashed; border-radius:10px;width:800px; height:200px;margin-top:50px">
                    <form asp-action="Rapport_final" method="post" enctype="multipart/form-data" style="padding:5%">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                 <input type="file" name="file" class="custom-file-input" id="file" aria-describedby="inputGroupFileAddon03" required />
                                <label class="custom-file-label" for="file" style="width:500px;margin-left:150px"><i class="far fa-file-pdf"></i> Choisissez le rapport final  de votre projet</label>

                            </div>
                        </div>
                        <input type="submit" class="form-control btn btn-primary" value="Deposer" style="border-radius:20px; " />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
                $("input[type=file]").change(function () {
                    var fieldVal = $(this).val();

                    // Change the node's value by removing the fake path (Chrome)
                    fieldVal = fieldVal.replace("C:\\fakepath\\", "");

                    if (fieldVal != undefined || fieldVal != "") {
                        $(this).next(".custom-file-label").attr('data-content', fieldVal);
                        $(this).next(".custom-file-label").text(fieldVal);
                    }
                });
</script>