@model Projet2_Archivage.Models.Enseignant
@{
    ViewData["Title"] = "_EspaceEnseignant";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="container" style="margin-top:50px">

    <div class="" style="position:absolute; right:200px">
        <button type="button" class="alert-danger" style="border-radius:15px ; margin-left:20px"><a asp-action="Deconnexion">Deconnexion</a></button>
    </div>
    <br /><br /><br />

    <div class="row">

        <div class="col-sm-4">
            <a class="btn btn-outline-primary alert-warning" asp-action="PageInformations" style="border-radius:20px; width:200px">Informations</a>
        </div>

        <div class="col-sm-4">
            <a class="btn btn-outline-primary alert-warning" asp-action="InsererNotes" style="border-radius:20px; width:200px">Notes</a>
        </div>

        <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary alert-warning" data-toggle="modal" data-target="#exampleModal" style="border-radius:20px; width:200px">
                Profil
            </button>
        </div>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier vos donnees</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Enseignant" asp-action="ModifierProfil" method="post">
                        <label asp-for="nom" class="control-label">Nom</label>
                        <input class="form-control" type="text" name="nom" value="@Model.nom" placeholder="nom" />
                        <label asp-for="prenom" class="control-label">Prenom</label>
                        <input class="form-control" type="text" name="prenom" value="@Model.prenom" />
                        <label asp-for="email" class="control-label">Email</label>
                        <input class="form-control" type="email" name="email" value="@Model.email" />
                        <br />
                        <button type="submit" class="btn btn-outline-primary alert-warning" style="border-radius:15px">Valider les modifications</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
